$app-bg: rgba(223, 223, 223, 0.71);

$header-bg: #363636;
$header-link-color: #fff;
$header-link-color-active: orange;
$header-height: 100px;

$main-color: orange;

$footer-bg: #363636;
$footer-height: 100px;

$middleSpace: 20px;

$border-shadow-default: 2px 2px 4px 1px;
$shadow-cover-color: rgba(0, 0, 0, 0.6);

$button-background-default: transparent;
$button-background-active: orange;
$button-border-color: orange;

$transition-default: all 0.3s ease;

$default-border-color: orange;
$default-border: 2px solid;

$error-color: red;
