$app-bg: rgba(223, 223, 223, 0.71);

$header-bg: #363636;
$header-link-color: #fff;
$header-link-color-active: orange;
$header-height: 100px;

$footer-bg: #363636;
$footer-height: 100px;

$middleSpace: 20px;

$border-shadow-default: 2px 2px 4px 1px;
$shadow-cover-color: rgba(0, 0, 0, 0.6);
