/* You can add global styles to this file, and also import other style files */
@import "src/sass/styles.scss";

.flexWrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

li {
  list-style: none;
}
