$app-bg: rgba(223, 223, 223, 0.71);


$header-bg: #363636;
$header-link-color: #fff;
$header-link-color-active: orange;
$header-height: 100px;

$footer-bg: #363636;
$footer-height: 100px;

$middleSpace: 20px;
